<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hibana.pico-nod</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/pico-nod-http-acceptor</string>
    <string>--production</string>
    <string>127.0.0.1:8787</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/pico-nod.out.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/pico-nod.err.log</string>
</dict>
</plist>
